<h1 class="h1">לחצו להפעלת הקובץ הקולי</h1>
<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" class="products">
  <table mat-table fxFlex="100%" fxFlex.gt-sm="66%" [dataSource]="actions" class="mat-elevation-z1">
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>פעולה</th>
      <td mat-cell *matCellDef="let action"> {{action.title}} </td>
    </ng-container>
    <ng-container matColumnDef="preview">
      <th mat-header-cell *matHeaderCellDef>תצוגה מקדימה</th>
      <td mat-cell *matCellDef="let action">
        <button mat-icon-button (click)="launchSound(action.id)"><mat-icon>volume_up</mat-icon></button>
      </td>
    </ng-container>
    <ng-container matColumnDef="launch">
      <th mat-header-cell *matHeaderCellDef>הפעלה במחשב</th>
      <td mat-cell *matCellDef="let action">
        <button mat-icon-button (click)="launchSound(action.id)"><mat-icon>settings_remote</mat-icon></button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>