<div *ngIf="isTableValid; else tableErr">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
    <table mat-table fxFlex="100%" fxFlex.gt-sm="66%" [dataSource]="voiceCommandsTable" class="mat-elevation-z1">
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>פעולה</th>
        <td mat-cell *matCellDef="let voiceCommand"> {{voiceCommand.title}} </td>
      </ng-container>
      <ng-container matColumnDef="preview">
        <th mat-header-cell *matHeaderCellDef>תצוגה מקדימה</th>
        <td mat-cell *matCellDef="let voiceCommand">
          <button mat-icon-button (click)="playAudioPreview(voiceCommand)"
          [disabled]="voiceCommand.isPlaying">
            <mat-icon>volume_up</mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="launch">
        <th mat-header-cell *matHeaderCellDef>הפעלה במחשב</th>
        <td mat-cell *matCellDef="let voiceCommand">
          <button mat-icon-button (click)="activateVoiceCommand(voiceCommand)"
          [disabled]="voiceCommand.isPlaying">
            <mat-icon>settings_remote</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <audio #audioOption>    
  </audio>
</div>
<ng-template #tableErr>
  <h2>שגיאה בגישה לשרת</h2>
</ng-template>